body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.formDiv {
  margin: 2.5rem 2rem 1.5rem;
  display: flex;
  justify-content: center;
}

.inputForm {
  display: flex;
  align-items: center;
}

.inputBox {
  margin: 1rem;
  width: 12rem;
  height: 1.7rem;
  border-radius: 5px;
  border-width: thin;
}

.subButton {
  margin: 1rem;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  border: none;
  background-color: chocolate;
  color: whitesmoke;
}

.subButton:hover {
  transform: scale(110%);
  background-color: rgb(162, 80, 20);
  box-shadow: 0 0 5px chocolate;
}

.listBox {
  margin: 1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLi {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.itemLi:hover {
  background-color: rgb(200, 200, 200);
}

.itemContent {
  margin-left: 1rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}

.deleteButton {
  margin: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  border: none;
  background-color: chocolate;
  color: whitesmoke;
}

.deleteButton:hover {
  transform: scale(110%);
  background-color: rgb(162, 80, 20);
  box-shadow: 0 0 5px chocolate;
}
