body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.formDiv {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.inputForm {
  display: flex;
  align-items: center;
}

.inputBox {
  margin: 1rem;
  width: 12rem;
  height: 1.7rem;
  border-radius: 5px;
  border-width: thin;
}

.subButton {
  margin: 1rem;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  border: none;
  background-color: chocolate;
  color: whitesmoke;
}

.subButton:hover {
  transform: scale(110%);
  background-color: rgb(162, 80, 20);
  box-shadow: 0 0 5px chocolate;
}

.listBox {
  margin: 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  margin: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  border: none;
  background-color: chocolate;
  color: whitesmoke;
}

.deleteButton:hover {
  transform: scale(110%);
  background-color: rgb(162, 80, 20);
  box-shadow: 0 0 5px chocolate;
}

.divider {
  position: static;
  height: 0.1rem;
}

.dividerBar {
  content: "";
  position: relative;
  top: 9rem;
  left: 10rem;
  right: 10rem;
  width: 70%;
  height: 0.1rem;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(20, 20, 20),
    transparent
  );
}
